<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'prep.png' %>
     <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body class="<%= 'public' unless logged_in? %>">
     <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
     <%= render 'layouts/footer' %>
    </div>

  </body>
</html>

